
@each $key, $prop in $spacings {
    @for $i from 0 through 12 {
        .#{$key}-#{$i} {
            #{$prop}: $i * 0.25rem;
        }
    }
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.sp-bt {
    justify-content: space-between;
}

.align-i {
    align-items: center;
}